In [1]:
import pandas as pd

In [38]:
data_frame = pd.read_csv('imdb-comentarios.csv')

In [39]:
data_frame.head()

                                          comentario  classificacao
0  Mais uma vez, o Sr. Costner arrumou um filme p...              0
1  Este é um exemplo do motivo pelo qual a maiori...              0
2  Primeiro de tudo eu odeio esses raps imbecis, ...              0
3  Nem mesmo os Beatles puderam escrever músicas ...              0
4  Filmes de fotos de latão não é uma palavra apr...              0

In [40]:
data_frame.tail()

                                              comentario  classificacao
49454  Como a média de votos era muito baixa, e o fat...              1
49455  O enredo teve algumas reviravoltas infelizes e...              1
49456  Estou espantado com a forma como este filme e ...              1
49457  A Christmas Together realmente veio antes do m...              1
49458  O drama romântico da classe trabalhadora do di...              1

In [6]:
classificacao = data_frame['sentiment'].replace(['neg', 'pos'], [0, 1])

In [7]:
data_frame["classificacao"] = classificacao

In [8]:
data_frame.head()

,id,text_en,text_pt,sentiment,classificacao
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg,0
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg,0
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg,0
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg,0
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg,0

In [27]:
data_frame1 = data_frame.drop(columns=["id"])

In [32]:
data_frame1 = data_frame1.rename(columns={"text_pt": "comentario"})

In [34]:
data_frame1.tail()

                                              comentario  classificacao
49454  Como a média de votos era muito baixa, e o fat...              1
49455  O enredo teve algumas reviravoltas infelizes e...              1
49456  Estou espantado com a forma como este filme e ...              1
49457  A Christmas Together realmente veio antes do m...              1
49458  O drama romântico da classe trabalhadora do di...              1

In [35]:
data_frame1.to_csv('imdb-comentarios.csv', index=None)